.contactsList {
  width: 300px;
}

.contactsList__item {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.contactsList__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.contactsList__deleteBtn {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}
